<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password|{{name}}</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    Enter a password
    <input name="newpassword" type="password" id="password" maxlength="12" minlength="8">
    <input type="checkbox" onclick="myFunction2()">Show Password
    Reenter the password
    {{ Password.as_p }}
    <input type="checkbox" onclick="myFunction()">Show Password
    <button>Submit</button>
</form>
    {% if notmatch %}
        Password don't match
    {% endif %}
</body>

<script>
function myFunction() {
  var x = document.getElementById("newpass");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
function myFunction2() {
    var x = document.getElementById("password");
    if (x.type == "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>
</html>