<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slots</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="number" name="pincode" placeholder="Pincode" maxlength=6>
        <button type="submit">Search</button>
    </form><button><a href="http://127.0.0.1:8000/logout/{{uid}}">Logout</a></button>
        {% for data in slots %}
            {%for name in data %}
                <p>{{ name }}</p>
            {% endfor %}
            <br>
        {% endfor %}
</body>
</html>